<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="../css/estilo.css" />

    <title>Bases de datos</title>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="titulo">
            <h1>
                <a href="../index.html">Gestión de Pacientes</a>
            </h1>
        </div>
    </header>
    <!-- Formulario eliminar -->
    <div class="container">
        <form id="eliminar" method="delete">
            <h3>Eliminar paciente</h3>
            <fieldset>
                <input placeholder="Id Paciente" name="identificacion" type="text" tabindex="2" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="eliminar-submit" data-submit="...Sending">Eliminar</button>
            </fieldset>
            <h4 class="mensajeRespuesta"></h4>
        </form>
    </div>


    <script src="../controllers/eliminar.js"></script>
</body>

</html>